:root{
    --main-font: 'Roboto';
    --secondary-font: 'Raleway';

    --bazic-text-color: #434455;
    --titel-text-color: #2E2F42;
    --white-text-color: #FFFFFF;
    --accent-txt-color: #4D5AE5;
    --hove-ocean-color :#404BBF;
}

.list{
    list-style: none;}

.link {
        text-decoration: none;
        color: currentColor;
    }

.hero {
        
      }
.body {
    font-family: 'Roboto';
 font-weight: 400;
 font-size: 16px;
 line-height: calc(24/16);
 letter-spacing: 0.02em;
 color: #434455;
 background-color: #FFFFFF;
}

.hero-title{
font-weight: 700;
font-size: 56px;
line-height: 60px;
text-align: center;
letter-spacing: 0.02em;
color: var(--white-text-color);
}   
.hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    background: var(--accent-txt-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    letter-spacing: 0.06em;
    color: var(--white-text-color);
    cursor: pointer;
  }
 
 .hero-button:hover {
    background: var(--hove-ocean-color);
  }

.contakt-link:hover{
color: var(--accent-txt-color);
}
.body.contakt-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: calc(24/16);
color: var(--bazic-text-color);
}


.logo-link{
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: calc(21/18);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-txt-color);
  }
 .logo-black{
    color: var(--titel-text-color);
 }

.h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24/20);
    color: var(--titel-text-color);
}
.advantades-article {
font-size: 16px;
line-height: calc(24/16);
color: var(--bazic-text-color);
}
.section-title{
font-weight: 700;
font-size: 36px;
line-height: calc(40/36);
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--titel-text-color);
}

.menu-link{
    color: var(--titel-text-color);
}

.menu-link:hover,
.menu-link:focus {
font-weight: 500;
font-size: 16px;
line-height: calc(24/16);
letter-spacing: 0.02em;
color: var(--accent-txt-color);
}

.portfolio-title{
font-weight: 500;
font-size: 20px;
line-height: calc(24/20);
letter-spacing: 0.02em;
color: var(--titel-text-color);
}
.portfolio-article{
font-size: 16px;
line-height: calc(24/16);
letter-spacing: 0.02em;
color: var(--bazic-text-color);
}
.logo-white {
    color: var(--white-text-color);
  }
.adress-link{
font-size: 16px;
line-height: calc(24/16);
letter-spacing: 0.02em;
color:var(--white-text-color);
}
footer{
    background-color: var(--titel-text-color);
}